{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<style>
  details > summary {
  list-style-type: '▶️';
}

details[open] > summary {
  list-style-type: '🔽';
}


details[open] > summary {
  margin-bottom: 0.5rem;
}

{
    box-sizing: border-box;
}
/* Set additional styling options for the columns*/
.column {
float: left;
width: 50%;
}

.row:after {
content: "";
display: table;
clear: both;
}

.column {
    padding-right: 20px; 
  }

</style>


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    
    {% if post.collection == 'teaching' %}
      <p style="margin : 0; padding-top:0;"><span style="color:black;">[{{ post.item }}]</span>    <span style="color:red;"><i>{{ post.title }}</i></span></p>
      {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}<p></p>
      <div class="row">
        <div class="column" style=" width: auto;"></div>
        <div class="column" style=" width: 500px;">
    {%elsif post.collection == 'publications' %}
    <div class="row">
    <div class="column" style=" width: auto;">
    <p>
    <details>
      <summary><i style="background-color: #504545; color: #ffffff; cursor: pointer; padding: 5px; width: auto;  text-align: left; border: none; outline: none; border-radius: 5px;">bib</i></summary>
      {{ post.biblio | markdownify }}
    </details></p>
    </div>
    <div class="column" style=" width: 500px;">
        <p> <span style="color:black;">[{{ post.item }}]</span>    {{ post.authors }}.  <span style="color:black;">{{ post.title }}.</span>
          {% if post.pubsource == 'journal' %}
            <i><a href="{{ post.paperurl }}" rel="permalink">{{ post.venue }}</a></i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.  
          {% elsif post.pubsource == 'unpublished' %}
            <i><a href="{{ post.paperurl }}" rel="permalink">{{ post.venue }}</a></i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.

            {% elsif post.pubsource == 'book' %}
            <i><a href="{{ post.paperurl }}" rel="permalink">{{ post.venue }}</a></i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.  

          {% elsif post.pubsource == 'proceeding' %}
            <i><a href="{{ post.paperurl }}" rel="permalink">{{ post.venue }}</a></i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}.  

          {% endif %}

          </p> 
          {% elsif post.date %}
            <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
            {% endif %}  
          </div>
        </div>
  </article>
</div>


